# ignore everything
/*

# ignore subfolders
/*/

# don't ignore dotfiles
!.gitignore
!brewfile
!.config/
!.github/

# to include specific subfolders only:
# include .local
!.local/
# ignore contents of .local
/.local/*
# include subfolder
!.local/bin/
